@using Portfolio.Models
@using Portfolio.Services
@using Microsoft.AspNetCore.Components.Web
@inject JsonDataService ProjectService

<style type="text/css">
	.musicbox {
		width: 50%;
		aspect-ratio: 1 / 1;
	}

	.release-title {
		font-size: 1rem;
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
		text-align: center;
		margin-top: 1vh;
		margin-left: 1vh;
		margin-right: 1vh;
	}

	.release-details{
		font-size: 0.80rem;
		margin: 0;
	}

	@@media (max-width: 768px) {
		.musicbox {
			width: 95%;
		}

		.hide-mobile {
			display: none;
			height: 0;
			width: 0;
		}
	}
</style>

<div class="container-sm">
	<div class="row row-cols-1">

		@{
			var entries = ProjectService.GetMusic();
			if (entries.Count() == 0)
				return;

			var art = entries.First();
			<div class="col my-3">
				<div class="card mx-auto border-light mb-3 text-bg-dark bg-black border-3 rounded-0 my-3 musicbox">
					<div>
						<a href="@art.Url">
							<img src="@art.Cover" class="rounded-0 card-img-top" style="object-fit: cover; image-rendering: pixelated;" alt="...">
						</a>
					</div>
					<div class="card-title">
						<h5 class="release-title">@art.Name</h5>
					</div>
					<div class="card-footer">
						<p class="release-details">> @art.Type</p>
						<p class="release-details">> @art.Genres</p>
						<p class="release-details">> @art.Date</p>
					</div>
				</div>
			</div>
		}
	</div>
</div>


@code
{

}

